extends layout.pug

block content

    .container
        .data-input
            .site-title
                h1.section-titles Find Your Hike
            .city-input
                .input-group.input-group-lg
                    input(type="text" id="city-input" class="form-control" placeholder="City")
                    .input-group-append
                        button(class="btn btn-secondary" type="button" id="button-enter") Enter
        .hike-container(style="max-width: 804px")                
            .hike-data
                h1.section-titles(style="text-align: center;") 
                    | Sorry we couldn't find that city! <br>Make sure to only put in the city name or city and country.
                    | <br>Ex. "Austin" or "Amsterdam, NL"

        .weather-container--clear
            .weather-data 