// Form to enter data and title

.data-input, .hike-container, .weather-container, .hiking-tips {
    margin: 10px;
    border-radius: 16px;
}

.data-input {
    font-family: $header-font;
    color: $off-white;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    background-color: $input-background;
    z-index: 2;
}

.city-input {
    margin: 20px;
    align-self: center;
    align-items: center;
    font-size: 1.1rem;
}

.site-title {
    align-self: center;
    margin: 20px;
    margin-right: auto;
    font-size: 1.1rem;
}

@media (max-width: 775px) {
    .data-input {
        flex-direction: column;
    }

    .site-title, .city-input {
        flex: 0 0 100%;
    }

    .site-title {
        margin-right: 20px;
        margin-bottom: 0px;
    }
}