$background-color: #8076a3;
$text-color: #000;
$input-background: #1873AA;
$off-white: #f9f8fd;
$silver: #f9f8fd70;
$header-font: 'Sriracha', cursive;
$body-font: 'Lato', sans-serif;
$dark-color: #002E6C;
$green-text: #18aa50;

body {
    background-image: url("../mountain-background.jpg");
    background-size: cover;
    background-position: top;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid; 
    grid-template-rows: 100px 200px 500px;
    grid-template-columns: 900px;
    justify-content: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@import "data-input.scss";
@import "hike-container.scss";
@import "weather-container.scss";



