body {
  background-image: url("../mountain-background.jpg");
  background-size: cover;
  background-position: top;
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
}

.container--weather {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.data-input, .hike-container, .weather-container, .hiking-tips {
  margin: 10px;
  border-radius: 16px;
}

.data-input {
  font-family: "Sriracha", cursive;
  color: #f9f8fd;
  display: flex;
  grid-column: span 2;
  grid-row: 1;
  background-color: #1873AA;
  z-index: 2;
}

.city-input {
  margin: 20px;
  align-self: center;
  align-items: center;
  font-size: 1.1rem;
}

.site-title {
  align-self: center;
  margin: 20px;
  margin-right: auto;
  font-size: 1.1rem;
}

.hike-container {
  grid-column: 1;
  grid-row: 3;
  background-color: #f9f8fd;
  padding: 10px;
}

.hike-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 500px;
}
.hike-data h1 {
  color: #002E6C;
  font-family: "Sriracha", cursive;
  margin-bottom: 20px;
}
.hike-data .trail-title {
  text-align: left;
  width: 90%;
  height: fit-content;
  font-size: 1.5rem;
  font-weight: 700;
  color: #002E6C;
}
.hike-data .trail-title a {
  color: #002E6C;
}
.hike-data .trail {
  display: grid;
  width: 90%;
  margin: 5px;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.15);
}
.hike-data .trail .trail-data {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border-radius: 10px;
  grid-column: 2;
  margin-left: 20px;
}
.hike-data .trail .trail-image {
  grid-row: 1;
  grid-column: 1;
  max-width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  border-right: 1px solid gray;
  background-color: #f9f8fd;
}
.hike-data .trail .trail-image img {
  max-width: 250px;
  max-height: 175px;
  align-self: center;
  border-radius: 5px;
}
.hike-data .trail .trail-summary {
  grid-row: 2;
  grid-column: 1;
  font-size: 1.8rem;
}
.hike-data .trail .trail-length {
  grid-row: 3;
  grid-column: 1;
}
.hike-data .trail .trail-stars, .hike-data .trail .trail-length, .hike-data .trail .difficulty {
  line-height: 1.3rem;
}
.hike-data .trail .bold {
  font-weight: 600;
}

.hike-data::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 16px;
}

.hike-data::-webkit-scrollbar {
  width: 14px;
  background-color: #F5F5F5;
  border-radius: 16px;
}

.hike-data::-webkit-scrollbar-thumb {
  background-color: #1873AA;
  border-radius: 16px;
}

.weather-container--clear {
  background-color: rgba(0, 0, 0, 0);
}

.pull-down-container {
  display: flex;
  grid-row: 2;
  grid-column: 1;
  animation: 1.25s ease-out 0s 1 slideInFromTop;
  z-index: 1;
}

.weather-container {
  display: grid;
  width: 50%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 10px;
  background-color: #f9f8fd;
}
.weather-container .date-and-time {
  font-family: "Sriracha", cursive;
  font-size: 1.5rem;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}
.weather-container .weather-icon {
  display: inline;
  grid-column: 1;
  grid-row: 2;
}
.weather-container .weather-temp {
  display: inline-flex;
  flex-direction: column;
  grid-column: 2;
}
.weather-container .weather-temp div {
  display: inline;
}
.weather-container .weather-temp .temp {
  font-size: 1.5rem;
}
.weather-container .weather-other {
  display: inline;
  grid-column: 3;
}

.hiking-tips {
  display: grid;
  width: 50%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 10px;
  background-color: #f9f8fd;
  font-family: "Sriracha", cursive;
  font-size: 1.5rem;
  text-align: center;
}
.hiking-tips .hiking-links {
  text-align: left;
  font-size: 1.25rem;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
