body {
  background-image: url("../mountain-background.jpg");
  background-size: cover;
  background-position: top;
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
}

.container--weather {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.data-input, .hike-container, .weather-container, .hiking-tips {
  margin: 10px;
  border-radius: 16px;
}

.data-input {
  font-family: "Sriracha", cursive;
  color: #f9f8fd;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  background-color: #1873AA;
  z-index: 2;
}

.city-input {
  margin: 20px;
  align-self: center;
  align-items: center;
  font-size: 1.1rem;
}

.site-title {
  align-self: center;
  margin: 20px;
  margin-right: auto;
  font-size: 1.1rem;
}

@media (max-width: 775px) {
  .data-input {
    flex-direction: column;
  }

  .site-title, .city-input {
    flex: 0 0 100%;
  }

  .site-title {
    margin-right: 20px;
    margin-bottom: 0px;
  }
}
.hike-container {
  grid-column: 1;
  grid-row: 3;
  background-color: #f9f8fd;
  padding: 10px;
}

.hike-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 500px;
}
.hike-data h1 {
  color: #002E6C;
  font-family: "Sriracha", cursive;
  margin-bottom: 80px;
}
.hike-data .trail {
  display: grid;
  width: 80%;
  max-width: 790px;
  padding: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border-radius: 10px;
  background-color: #1873AA;
  color: #f9f8fd;
  font-family: "Lato", sans-serif;
  margin-bottom: 110px;
  margin-left: 5%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.hike-data .trail .trail-title {
  text-align: left;
  width: 90%;
  height: fit-content;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: underline;
  grid-row: 1;
  grid-column: 2/span 3;
  line-height: 1.7rem;
}
.hike-data .trail .trail-title a {
  color: #f9f8fd;
}
.hike-data .trail .trail-title a:hover {
  color: #aa1846;
}
.hike-data .trail .trail-image {
  grid-row: 1/span 3;
  grid-column: 1;
  width: 225px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.01);
}
.hike-data .trail .trail-image img {
  margin-left: -60px;
  margin-top: -90px;
  max-width: 250px;
  max-height: 175px;
  align-self: center;
  border-radius: 5px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}
.hike-data .trail div {
  text-align: left;
  margin-left: 3px;
}
.hike-data .trail .trail-summary {
  grid-row: 4;
  grid-column: 1/span 4;
  font-size: 1.2rem;
}
.hike-data .trail .trail-length.icon {
  grid-row: 2;
  grid-column: 2;
}
.hike-data .trail .trail-length {
  grid-row: 3;
  grid-column: 2;
}
.hike-data .trail .trail-difficulty.icon {
  grid-row: 2;
  grid-column: 3;
}
.hike-data .trail .trail-difficulty {
  grid-row: 3;
  grid-column: 3;
}
.hike-data .trail .trail-star.icon {
  grid-row: 2;
  grid-column: 4;
}
.hike-data .trail .trail-star {
  grid-row: 3;
  grid-column: 4;
}
.hike-data .trail .icon {
  font-size: 1.3em;
}

.hike-data::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 16px;
}

.hike-data::-webkit-scrollbar {
  width: 14px;
  background-color: #F5F5F5;
  border-radius: 16px;
}

.hike-data::-webkit-scrollbar-thumb {
  background-color: #1873AA;
  border-radius: 16px;
}

@media (max-width: 990px) {
  .hike-data .trail {
    width: 90%;
    margin-left: 0;
  }
}
@media (max-width: 770px) {
  .hike-data .trail .trail-title {
    text-align: center;
    grid-row: 2;
    grid-column: 1/span 3;
    width: 100%;
  }
  .hike-data .trail .trail-image {
    grid-row: 1;
    grid-column: 1/span 3;
    width: 96%;
    height: 120px;
  }
  .hike-data .trail .trail-image img {
    margin-left: 0px;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
  }
  .hike-data .trail div {
    text-align: center;
    margin: 5px;
  }
  .hike-data .trail .trail-summary {
    grid-row: 5;
    grid-column: 1/span 3;
  }
  .hike-data .trail .trail-length.icon {
    grid-row: 3;
    grid-column: 1;
  }
  .hike-data .trail .trail-length {
    grid-row: 4;
    grid-column: 1;
  }
  .hike-data .trail .trail-difficulty.icon {
    grid-row: 3;
    grid-column: 2;
  }
  .hike-data .trail .trail-difficulty {
    grid-row: 4;
    grid-column: 2;
  }
  .hike-data .trail .trail-star.icon {
    grid-row: 3;
    grid-column: 3;
  }
  .hike-data .trail .trail-star {
    grid-row: 4;
    grid-column: 3;
  }
}
.weather-container--clear {
  background-color: rgba(0, 0, 0, 0);
}

.weather-container, .hiking-tips-container {
  animation: 1.25s ease-out 0s 1 slideInFromTop;
  z-index: 1;
  color: #002E6C;
  width: 48%;
}

.weather-container {
  grid-row: 2;
  grid-column: 1;
  padding: 10px;
  background-color: #f9f8fd;
}
.weather-container .weather-data {
  grid-template-columns: auto;
  grid-template-rows: auto;
  display: grid;
}
.weather-container .weather-data div {
  display: inline;
}
.weather-container .weather-data .date-and-time {
  font-family: "Sriracha", cursive;
  font-size: 1.5rem;
  grid-row: 1;
  grid-column: 1/span 3;
  text-align: center;
}
.weather-container .weather-data .weather-icon {
  display: inline;
  grid-column: 1;
  grid-row: 2/span 3;
}
.weather-container .weather-data .weather-temp {
  grid-column: 2;
  grid-row: 2;
  font-size: 2rem;
}
.weather-container .weather-data .weather-min {
  grid-column: 2;
  grid-row: 3;
}
.weather-container .weather-data .weather-max {
  grid-column: 2;
  grid-row: 4;
}
.weather-container .weather-data .weather-humidity {
  grid-column: 3;
  grid-row: 3;
}
.weather-container .weather-data .weather-wind {
  grid-column: 3;
  grid-row: 4;
}

.hiking-tips-container {
  grid-row: 2;
  grid-column: 1;
  margin-left: auto;
}
.hiking-tips-container .hiking-tips {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 10px;
  background-color: #f9f8fd;
  font-family: "Sriracha", cursive;
  font-size: 1.5rem;
  text-align: center;
}
.hiking-tips-container .hiking-tips .hiking-links {
  text-align: left;
  font-size: 1.25rem;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 775px) {
  .pull-down-container {
    flex-direction: column;
  }

  .weather-container, .hiking-tips {
    width: 96%;
  }

  .hiking-tips-container {
    grid-row: 4;
    width: 100%;
    animation: none;
  }
}

/*# sourceMappingURL=style.css.map */
