.weather-container {
    margin-top: 0px;
    border-radius: -16px;
    display: grid;
    grid-column:1;
    grid-row: 2;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;
    background-color: $off-white;

    .date-and-time {
        grid-row: 1;
        grid-column: 1;
    }

    .weather-icon {
        display: inline;
        grid-column: 1;
        grid-row: 2;
    }

    .weather-temp {
        display: inline-flex;
        flex-direction: column;
        grid-column: 2;

        div {
            display: inline;
        }
    }

    .weather-other {
        display: inline;
        grid-column: 3;
    }
}